/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), 
  url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGPS42wKzre0cxmO5m5GyTsY.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v9/rAXKWvABQNHjPUk26ixVvvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

html {
/*    color: #222;
*/    font-size: 1em;
    line-height: 1.4;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Futura', Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 80px solid black;
}

.main aside {
    border-top: 20px solid black;
}

.header-container,
.main aside {
    background: black;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

/*nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #76C1CC;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}*/

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    margin: 20px auto;
      display: table;
      text-align: center;
      clear: right;
      clear: left;
      bottom: 20px;
      position: relative;
      bottom: 5px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

nav{
    text-align: center;
    margin: 10px auto;
}
nav ul {
    list-style-type: none;
  position: relative;
  /*display: inline-block;*/
}
nav ul li {
    display: inline-block;
  /*float: left;*/
    padding: 0px 5px;
  vertical-align: middle;

}
nav ul li a, nav ul li a:visited, nav ul li a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding:10px;
/*  font-weight: bold;*/
}

/*Dropdown menu courtesy of: http://cssdeck.com/labs/another-simple-css3-dropdown-menu*/
nav ul li ul {
  position: absolute; 
  /*top: 100px;*/
  padding: 40px 0px;
  display: none;
  list-style-type: none;
}
nav ul li ul li {  
  color: white;
  display: block;
  padding: 0px 30px;
  text-align: left;
  font-weight: bold;
}

nav ul li:hover ul {
  display: block;

}
nav ul li:hover ul li{
  background-color: #323232;
  opacity: 0.9;
  font-size: 0.8em;
}

.down_arrow{
  font-size: .4em;
}
nav ul li:hover ul li:hover { 
  background: black;
  color: black;
 
}

}
#heading{
  -webkit-transition: background 0.5s linear; 
  transition: background 0.5s linear;
  text-align: left;
  padding: 5px;
  color: white;
  background-color: #323232;
  opacity: 0.95;
  position: fixed;
  top: 0px;
  min-width: 100vw;
}
.heading{
  -webkit-transition: background 0.5s linear; 
  transition: background 0.5s linear;
  text-align: left;
  /*padding: 10px;*/
  color: white;
  font-family: "Futura", "Book Antiqua", Palatino, serif;
  /*vertical-align: middle;*/
  max-height: 80px;
}

.heading:hover > a {
  color:gray;
}


.logo{
  height:300px;
  width:auto;
  /*float:left;*/
  display: inline-block;
  margin-left: 10%;
}
/*Parallax Styling for the background of the pages*/
[class*="par_"] {
  min-height:100vh;
  margin-top: -80px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;
}

.par_homepage {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/background.gif);
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(https://rwmloans.com/uploads/pages/Fotolia_56437928_Subscription_Monthly_M.jpg);*/
}
.title2{
    display: inline-block;

  text-align: center;
  color: white;
}

section {
    color: #BBBDCC;
}

h1 {
    font-size: 8em;
    margin: 100px auto;
    text-align: center;
}

h2 {
    font-size: 4em;
}

.event {
    color: white;
    border: 4px black;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    padding-bottom: 10px;
    max-height: 300px;
    min-height: 300px;
}

.event_title {
    float: center;
  display: inline-block;

    font-size: 2em;
    padding: 10px;
    clear: both;
}

.event_description {
  float:right;
    font-style: italic;
    font-size: 1.2em;
    font-weight: lighter;
}

.artist_pic {
    float: left;
    clear: both;
    padding-right: 20px;
}
.notBlue{
    color:yellow;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== 

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

========================
    INTERMEDIATE: IE Fixes
   ======================== 

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}
*/

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/*    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }*/

/* ============
    WIDE: Menu
   ============ */



/*    nav {
        float: right;
        margin-top: 35px;
        width: 40%;
    }*/

/* ============
    WIDE: Main
   ============ */

   .main article {
        text-align: center;
        margin: 100px auto;
    }
/* 
    .main aside {
        float: right;
        width: 28%;
    }*/
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 626px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.related_event {
    display: none;
}