{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'spotify/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'spotify/css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'spotify/css/main.css' %}">
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">h1.title</h1>
                <nav>
                    <ul>
                        <li>{% block nav-home %}<a href="{% url 'index' %}">Home</a>{% endblock %}</li>
                        <li>{% block nav-artists %}<a href="{% url 'artists' %}">Artists</a>{% endblock %}</li>
                        <li>{% block nav-spotify-connect %}<a href="{% url 'spotify_connect' %}">Spotify-Connect</a>{% endblock %}</li>
                        <li>{% block nav-loggedIn %}<a href="{% url 'loggedIn' %}">LoggedIn</a>{% endblock %}</li>

                   </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                	{% for artist in artists %}
                		<header>
                        <h1>{{ artist.name }}</h1>
                        <p>{{ artist.genre }}</p>
                    	</header>
                    {% endfor %}


            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
<!-- 
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>