{% load staticfiles %}
<script src="{% static 'spotify/js/jquery-1.11.2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'spotify/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'spotify/css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'spotify/css/main.css' %}">
<script src="{% static 'spotify/pace/pace.js' %}"></script>
<link href="{% static 'spotify/pace/pace-theme-flash.css' %}" rel="stylesheet" />
<script src="{% static 'spotify/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
<script src="{% static 'spotify/js/main.js'%}" ></script>


<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
           




           

        



        <div class="header-container">
            <header class="wrapper clearfix">
                <!-- <h1 class="title2">ConcertHero</h1><br> -->
 <img class = "logo" src="../../static/spotify/img/logo.png"/>
                <div id="heading">
                <nav>
                    <ul>
                        <li class="heading">{% block nav-home %}<a href="{% url 'index' %}">Home</a>{% endblock %}</li>
                        <li class="heading">{% block nav-spotify-connect %}<a href="{% url 'spotify_connect' %}">Concerts</a>{% endblock %}</li>
                        <li class="heading">{% block nav-spotify-connect_recommended %}<a href="{% url 'spotify_connect_for_recommendations' %}">Recommended Concerts</a>{% endblock %}</li>

<!--                         <li class='heading'>{% block nav-my_concerts %}<a href="{% url 'my_concerts' %}">My Concerts</a>{% endblock %}</li>
 -->
                   </ul>
                </nav>
                 
                </div>
            </header>
        </div>

        <div class="par_homepage">
            <div class="main wrapper clearfix">

            <h2 class = 'title'>Upcoming Concerts</h2>
                {% for title, date, description, city, state, country, venue, eventInfoURL, picURL, picHeight, picWidth in events %}
                    <div class="event">
                        <h5 class='event_title'>{{ title }}</h5>
                            <img class='artist_pic' src='{{ picURL }}' height="{{ picHeight }}" width="{{ picWidth }}">
                            <p class= 'event_details'>
                                <!-- <span class='event_description'>{{ description }} </span><br><br> -->
                                {{ date }} <br>
                                {{ venue }} in {{ city }}, {{ state }}, {{ country }} <br>
                                Buy Tickets Here: <a class = 'notBlue' href="{{ eventInfoURL }}">Tix</a>
                            </p>

                    </div>

                {% empty %}
                {% endfor %}


            </div> <!-- #main -->
        </div> <!-- #main-container -->

<!--         <div class="footer-container">
            <footer class="wrapper">
            </footer>
        </div> -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
<!-- 
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>